APP_NAME="Tender Evaluation System"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://api.shalootech.ir

LOG_CHANNEL=stack
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=muehdtvm_tenderDB
DB_USERNAME=muehdtvm_tenderDB
DB_PASSWORD=your-database-password

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MAIL_MAILER=smtp
MAIL_HOST=localhost
MAIL_PORT=587
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="noreply@shalootech.ir"
MAIL_FROM_NAME="${APP_NAME}"

JWT_SECRET=

FRONTEND_URL=https://shalootech.ir,https://www.shalootech.ir

MIGRATION_RUN_SEEDERS=false
ENABLE_SYSTEM_ROUTES=false

MIGRATION_TOKEN=
CACHE_CLEAR_TOKEN=

